@charset "utf-8";
/* CSS Document */

a img
{
border:none;
}



.formulaire h3
{
  font-family: Geneva, Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 19px;
  color: #ffffff;
  padding-bottom:5px;
  margin-bottom:0px;
}

input

{
color:#555555;
border-width:1px;
border-color:#666666;
border-style:solid; 
}

p, table
{
padding:0px;
margin:0px;
font-family: Tahoma, Helvetica, Arial,  Sans-Serif;
font-size: 13px;
text-align:justify;
line-height:20px;


 /*  padding:20px; */
} 

#conteneur 
{
width:960px;
margin-left:auto;
margin-right:auto;
margin-top:0px;
font-size:36px;
}

#header
{
background-image:url(images/fond3_accueil_leger.png);
height:480px;
}

#header p
{
padding-left:00px;
padding-top:26px;
}

#header form
{
padding-left:10px;
padding-bottom:0px;
margin-bottom:0px;
line-height:00px;
padding-top:25px;
float:left;
}

#header a, .formulaire a
{
color:#FF9900;
text-decoration:none;
}

#header a:hover, .formulaire a:hover
{
color:#CC0000;
text-decoration:none;
}

#content
{
height:auto;
padding:00px;

}

#formulaire
{
background-color:#181a12;
height:auto;
padding:10px;
margin:00px;
float:right;
width:467px;
}

.formulaire ul
{
display:table-cell;
width:290px;
padding:10px;
line-height:25px;
font-size:11px;

} 
 
.formulaire p
{
padding:20px;
line-height:20px;
font-size:12px;
color:#FFFFFF;
} 

.formulaire table
{
font-size:11px;
font-weight:bold; 
line-height:25px;
margin-left:auto;
margin-right:auto;
color:#FFFFFF;
}

.formulaire td
{
padding-left:5px;
padding-right:5px;
}

.formulaire input
{
margin:2px;
width:150px;
}

#contact
{
height:419px;
}

#contact table
{
font-size:13px;
line-height:25px;
margin-left:auto;
margin-right:auto;
color:#FFFFFF;
}

#password
{
float:left;
padding-left:5px;
}

#infos, #infos2
{
padding:10px;
margin:00px;
font-family: Tahoma, Helvetica, Arial,  Sans-Serif;
font-size: 13px;
color: #242C2D;
text-align:justify;
line-height:20px;
background-color:#ffffff;

}



#disques
{
padding:5px;
padding-left:15px;
padding-right:10px;
border-left-color:#4682b4;
border-left-style:solid;
border-left-width:6px;
width:441px;
background-color:#4682b4;
margin:00px;
margin-top:2px;
font-family: Tahoma, Helvetica, Arial,  Sans-Serif;
font-size: 11px;
color: #ffffff;
text-align:justify;
line-height:17px;
}

#disques2
{
padding:5px;
padding-left:15px;
padding-right:10px;
border-left-color:#990000;
border-left-style:solid;
border-left-width:6px;
width:441px;
background-color:#990000;
margin:00px;
margin-top:2px;
font-family: Tahoma, Helvetica, Arial,  Sans-Serif;
font-size: 11px;
color: #ffffff;
text-align:justify;
line-height:17px;
}

#disquevide
{
height:85px;
background-color:#bbbbbb;
margin-top:2px;
width:441px;
padding:5px;
padding-left:15px;
padding-right:10px;
border-left-color:#bbbbbb;
border-left-style:solid;
border-left-width:6px;

}

#infos table
{
margin-left:00px;
}

#infos p
{
padding:10px;
margin-right:500px;
font-family: Tahoma, Helvetica, Arial, Sans-Serif;
font-size: 13px;
color: #242C2D;
text-align:justify;
line-height:18px;
}

#infos2 p
{
padding:10px;
margin-right:000px;
font-family: Tahoma, Helvetica, Arial, Sans-Serif;
font-size: 13px;
color: #242C2D;
text-align:justify;
line-height:18px;
}

#infos h3, #infos2 h3
{
  font-family: Geneva, Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 19px;
  color: #4682b4;
  padding:10px;
  margin-bottom:0px;
}

#headresultats
{
background-color:#990000;
color:#FFFFFF;
padding:10px;
margin:0px;
}

#bodyresultats
{
background-color:#ececec;
padding:10px;
margin:0px;
font-family: Tahoma, Helvetica, Arial,  Sans-Serif;
font-size: 13px;
color: #242C2D;
line-height:20px;
}

#bodyresultats p
{
padding-top:5px;
margin:0px;
}

#headresultats h3, #bodyresultats h3
{
  font-family: Geneva, Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 15px;
  padding-left:00px;
  padding-top:0px;
  margin:0px;
}

#message
{
border-bottom-style:solid;
padding-left:20px;
padding-bottom:10px;
padding-top:10px;
font-family: Tahoma, Helvetica, Arial,  Sans-Serif;
font-size: 13px;
font-weight:bold;
line-height:20px;
}