@charset "utf-8";
/* CSS Document */

a img
{
border:none;
}



.formulaire h3
{
  font-family: Geneva, Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 19px;
  color: #ffffff;
  padding-bottom:5px;
  margin-bottom:0px;
}

input

{
color:#555555;
border-width:1px;
border-color:#666666;
border-style:solid; 
}

p, table
{
padding:0px;
margin:0px;
font-family: Tahoma, Helvetica, Arial,  Sans-Serif;
font-size: 13px;
color: #ffffff;
text-align:justify;
line-height:20px;


 /*  padding:20px; */
} 

#conteneur 
{
width:960px;
margin-left:auto;
margin-right:auto;
margin-top:0px;
background-color: #FFFFFF;
font-size:36px;
}

#header
{
background-image:url(images/fond3_accueil_leger.png);
height:480px;
}

#header p
{
padding-left:00px;
padding-top:26px;
}

#header form
{
padding-left:10px;
padding-bottom:0px;
margin-bottom:0px;
line-height:00px;
padding-top:25px;
float:left;
}

#header a
{
color:#FF9900;
text-decoration:none;
}

#header a:hover
{
color:#CC0000;
text-decoration:none;
}

#content
{
background-color:#ffffff;
height:auto;
padding:00px;
}

#formulaire
{
background-color:#181a12;
height:auto;
padding:10px;
margin:00px;
float:right;
width:467px;
}

.formulaire ul
{
display:table-cell;
width:290px;
padding:10px;
line-height:25px;
font-size:11px;

} 
 
.formulaire p
{
padding:00px;
line-height:25px;
font-size:11px;

} 

.formulaire table
{
font-size:11px;
font-weight:bold; 
line-height:25px;
margin-left:auto;
margin-right:auto;
}

.formulaire td
{
padding-left:5px;
padding-right:5px;
}

.formulaire input
{
margin:2px;
width:150px;
}

#contact
{
height:419px;
}

#password
{
float:left;
padding-left:5px;
}

#infos
{
padding:10px;
margin:00px;
font-family: Tahoma, Helvetica, Arial,  Sans-Serif;
font-size: 13px;
color: #242C2D;
text-align:justify;
line-height:20px;
}

#infos p
{
padding:10px;
margin-right:500px;
font-family: Tahoma, Helvetica, Arial, Sans-Serif;
font-size: 13px;
color: #242C2D;
text-align:justify;
line-height:18px;
}

#infos h3
{
  font-family: Geneva, Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 19px;
  color: #4682b4;
  padding:10px;
  margin-bottom:0px;
}

